#controls {
	background: transparent url("../../../img/bg-noir-transparent.png");
	background: rgba(0, 0, 0, 0.8);

	.button {
		font-size: 0.75em;
		font-family: maven_pro_light300;
		font-weight:normal;
	}

	.one-half {
		width:50%;
		display: inline-block;
		vertical-align: top;
		position: relative;
		border-left: 1px solid $white;
		@include mq(phone) {width: 100%;}
	}

	.button-visite {
		padding-left: 5%;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		@include mq(phone) {position:static; text-align:center;}
	}
}

.visite-virtuelle {

	p {
		margin: 0;
		height: 100%;
	}

	.button {
		margin: 0 auto;
		@include mq(phone) {margin: 15px 0}
	}

	.button-photos {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@include mq(phone) {position:static; text-align:center; transform: translate(0, 0);}
	}
}